<!DOCTYPE html>
<html>
  <head>
    <title>Inspirations</title>
    <link href='https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|La+Belle+Aurore' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <h1>Inspirations</h1>

    <%= yield %>

    <% unless current_page?("/") %>
      <ul class="category-list small-list">
        <%= render partial: '/categories/category', collection: @categories %>
      </ul>
    <% end %>

    <footer>
      <p>&copy; 2019 Kelly Munro</p>
    </footer>
  </body>
</html>
