<!DOCTYPE html>
<html>
  <head>
    <title>Inspirations</title>
    <link href='https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|La+Belle+Aurore' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <h1>Inspirations</h1>

    <%= yield %>

    <% unless current_page?("/") %>
      <ul class="category-list small-list">
        <% @categories.each do |category| %>
          <%= link_to "/quotes/random/#{category.title}" do %>
            <li id="<%= category.title.downcase %>">
              <p><%= category.title %></p>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>

    <footer>
      <p>&copy; 2018 Kelly Munro</p>
    </footer>
  </body>
</html>
